//
//  StandardRelease.xcconfig
//  iPhotoLibraryManager
//
//  Created by Brian Webster on 11/26/13.
//  Copyright (c) 2013 Brian Webster. All rights reserved.
//

BW_CONFIG_GCC_PREPROCESSOR_DEFINITIONS =
BW_UNIFIED_HELP_TEMPLATE_PATH = $(SRCROOT)/DevFiles/unified_help_template.html
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
